body {
  background-color: black;
}

h1 {
  color: white;
  text-align:center;
}

#wrapper {
  background-color: white;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  background-color: black;
  padding: 100px;
  color:white;
}

#container button {
  margin:5px;
}